
header {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: black
  }

.left {

    background-color: rgb(65, 150, 230);
    color:white;
    position: fixed;
    width: 50%;
    height: 100%;
    float: left;
    left: 0;
}
.right{
    
    background-color: rgba(141, 146, 150, 0.842);
    position: fixed;
    width: 50%;
    height: 100%;
    float: right;
    right: 0;
}

